* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

@keyframes pulses {
    0% {
        transform: scale(1) rotate(0);
    }
    50% {
        transform: scale(1.2) rotate(-180deg);
    }
    100% {
        transform: scale(1) rotate(-360deg);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    margin: 60px 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.7);
    
    border: 2px solid red;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}

.box {
    height: 118px;
    width: 118px;
    margin: 20px 0 0 20px;
    display: flex;
    border-radius: 50%;
    border-top: solid 10px red;
    border-bottom: solid 10px red;
    animation: rotating 3s infinite linear;
}

.js-box {
    height: 100px;
    width: 100px;
    margin: auto;
    background: red;
    border-radius: 50%;
    display: flex;
    animation: pulses 3s infinite linear;
    span {
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        color: white;
        font-size: 70px;
    }
}

.execTime {
    align-self: center;
    color: red;
    font-size: 30px;
}

@media (max-width: 380px) {
    .container {
        margin: 150px 0 0 0;
        justify-content: flex-end;
    }
    .box {
        display: none;
    }
}